@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,600;1,300;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kulim Park', Helvetica, sans-serif;
}

.header{
    background-color: #155e54;
    color: #fff;
    height: 75vh;
}

.content-up {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    z-index: 1;
}

.nav-scroll-bg-change{
    background-color: white;
    height: 10vh;
    

}

.btn{
    font-family: 'Roboto',
    sans-serif ;
    letter-spacing: 1.5px !important;
    background-color: rgb(37, 193, 111) !important;
    color: white !important;
}

.logo img {
    width: 138px;
    height: 25px;
}
.content-up .logo, .content-up .offer{
    margin: 60px 100px;
}

.content-up button{
    padding: 5px 15px;
    width: 200px;
}

.content-down{
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    position: relative;
    top:23vh;
    background-color: #155e54;
    
}

.text{
    margin-top: 35px;
}

.text p{
    font-size: 1.2rem;
    font-weight: 400;
}

.text h1{
    font-size: 3rem;
    font-weight: 600;
}
.content-down button {
    margin-top: 20px;
    padding: 10px 15px;
    width: 250px;
    letter-spacing: 0.1rem;
}

.sectionOne{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    min-height: 700px;
    background-color: #f3fcf7;
}

.sectionOne .button{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}



.title h1{
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 700;
 }

.sectionTwo{
    width: 100%;
    margin-bottom: 100px;
    
}

.sectionTwo .btn{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
}

.sectionTwo-content h1, p{
    display: flex;
    justify-content: center;
    align-content: center;
}
.sectionTwo-content h1{
    margin-top: 55px;
    font-size: 2.5rem;
    font-weight: bolder;
}
.sectionTwo-content p {
    color: rgb(102, 102, 102);
    font-size: 1.2rem;
    font-weight: bolder;
}

.sectionTwo-table{
    margin: 0 auto;
    margin-top: 60px;
    width: 80%;
}

.sectionTwo-table .bd {
    text-align: center;
}

.sectionTwo-table thead{
    color: black;
}
.sectionTwo-table tbody {
    color: grey;
}
.sectionTwo-table img{
    height: 25px;
}
.sectionTwo-table table{
    border: 1.5px solid rgba(37, 193, 111, 0.3);
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(37, 193, 111, 0.3);
    border-radius: 10px;
}

.sectionThree{
    height: 400px;
    background-color: #f3fcf7;
}
.sectionThree-title {
    padding-top: 45px;
}
.sectionThree-title h1{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.sectionThree-content{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-content: center;
    padding: 50px 100px;

}
.sectionThree-content img{
    height: 70px;
    width: 70px;
    padding-bottom: 20px;
}
.sectionThree-content div{
    margin: 0 30px;
    color: rgb(77, 77, 77);
}
.sectionThree-content div h4{
    font-weight: bold;
}
.sectionThree-content div p {
    font-weight: 300;
    color: rgb(77, 77, 77);
}
.sectionThree .btn {
    position: relative;
    left: 50%;
    top: 15px;
    transform: translateX(-50%);
    padding: 10px 20px;
}
.sectionFour{
    height: 700px;
    position: relative;
}

.sectionFour h1{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.sectionFour-pop{
    background-color: white;
    height: 400px;
    position: absolute;
    margin: 0 auto;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 10px 8px 5px #888888;
   
}

.sectionFour-header img {
    height: 100px;
    width: 200px;
    margin: 0 50px;
    margin-right: 50px;
}


.sectionFour-pop p{
    padding: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color:rgb(77, 77, 77);
}

hr{
    width: 150px;
    background-color: rgb(37, 193, 111);
}


.sectionFive{
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sectionFive h1{
    font-size: 2.5rem;
  
}
.sectionFive .h2 {
   margin: 20px;
    
}
ul{
   list-style: none;
}
.end ul{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}
.end ul li{
    margin: 5px;
}

.end{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(230, 230, 230);
    color: rgb(102, 102, 102);
    margin-top: 20px;
    font-weight: bold;
    padding-top: 10px;
}